@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #f8f5f5;
}

.main-form {
  width: 100%;
  height: 100%;
}

.pd {
  padding: 40px;
}

.mrb {
  margin-bottom: 13px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 0 35px 0 rgba(0, 0, 0, .15);
            box-shadow: 0 0 35px 0 rgba(0, 0, 0, .15);
}

.form-group {
   margin: 0;
}

.form-box {
  display: block;
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
}

.form-here {
  padding: 80px 25px 30px 25px;
}

.photo {

  display: inline-block;
  position: relative;
  margin-bottom: 60px;
}

.image-size {
  width: 150px;
  height: 150px;
}

.photo-upload {
    display: inline-block;
    position: absolute;
    bottom: -8px;
    right: -8px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 3px solid #39ac70;
    background-color: #fff;
    padding: 0px;
    text-align: center;
    z-indes: 100;
    border-radius: 50%;
}

.photo-upload i {
  color: #e93731;
  font-size: 22px;
  line-height: 41px;
}

.photo-upload i:hover {
  animation: move 0.3s;
}

.form-group {
  position: relative;
}

.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 30px 70px;
  border: 4px solid #e5e5e5;
  border-radius: 50px;
  position: relative;
  box-shadow: none;
  transition: all .3s ease-in-out;
  text-overflow: ellipsis;
}

.form-control:focus {
  border-color: #39ac70;
} 

.form-icon-style {
    font-size: 26px;
    text-align: center;
    padding: 15px 35px;
    color: #757575; 
    transition: all .3s ease-in-out;
}

.form-icon-position01 {
    position: absolute;
    top: 0;
    left: 0;
}

.form-icon-position02 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    
}

.form-control:focus + .form-icon-style{
  color: #39ac70;
}

a.form-icon-style:hover,
a.form-icon-style:focus {
  color: #39ac70;
}

.form-control:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(57, 172, 112, .5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(57, 172, 112, .5);
}

.btn {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 15px 60px;
  background-color: #e93731;
  text-transform: uppercase;
  border-radius: 50px;
  margin: 45px 0 25px 0;
  border: 4px solid transparent;
  transition: all .3s ease-in-out;
}

.btn:focus {
  outline: 0 !important;
}

.btn:focus,
.btn:hover,
.btn:active{
  color: #e93731;
  border: 4px solid #e93731;
  background-color: #fff;
}

.account {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.account a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.account a:hover {
  color: #39ac70;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


@keyframes move {
    0%   {
            line-height: 41px;
         }
    25%  {
            line-height: 50px;
         }
    50%  {  
            line-height: 41px;
         }
    75%  {
            line-height: 32px;
         }
    100% {
            line-height: 41px;
         }
}