<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emitra</title>
    <link rel="stylesheet" type="text/css" href="emitra_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script src="speech.js"></script>

<body>
<div class="main-form">
   <div class="container">
      <div class="row">
         <div class="col-md-12 pd">
            <div class="form-box box-shadow">
               <div class="form-here text-center">
                                   <center>

                  <div class="photo">
                     <img src="emitra.jpg" class=" box-shadow center image-size" alt="Image" />
                  
                  </div>
        </center>
                  <form action="http://localhost:3000/backend" method="post">
                    
                        
		<p>Welcome to Emitra Account</p>
        <h3>Your current Emitra Account balance is :640</h3>
        <button class="btn btn-sucess">Pay electricity bills</button>
        <button class="btn">Pay Water bills</button>
        <button class="btn">Pay Mobile bills</button>
                       
                    
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



</body>
</html>
